<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Bound Sensor - Demo</title>

    <base href="/">
  </head>
  <body>
    <root-component>Loading...</root-component>
  </body>
</html>
