$primary-color: #00CEAC;
$primary-color-dark: darken($primary-color, 5%);
$primary-color-darker: darken($primary-color, 10%);
$primary-color-light: #78E4D2;
$primary-color-lighter: #A2EDE0;
$primary-color-lightest: lighten($primary-color, 20%);
