@import '../../theme/variables';

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
  border: 20px solid $primary-color-light;
}

.main {
  border: 2px dashed #000;
}
